@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: rgb(39, 39, 39);
}

::-webkit-scrollbar {
  display: none;
}