.create-room-container {
  margin: 8em;
  /* width: 100%; */
}

.create-room-box {
  margin: 50px;
  padding: 50px;
  border: 0.1px groove seashell;
  border-radius: 15px;
  /* width: 70%; */
  align-items: center;
}

.basic-multi-select {
  color: black;
  /* background-color: rgb(29, 62, 128); */
}

.dark-mask {
  filter: brightness(30%);
}
