.userData-handle {
  border-radius: 15px;
  padding: 30px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 10px;
  box-shadow: 0 10px 15px -3px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 6px 6px -1px rgba(0, 0, 0, 0.08);
 
}
