.select-container {
    position: relative;
    display: inline-block;
  }
  
  .select-container select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      border: 1px solid #ccc;
      padding: 8px 16px;
      font-size: 16px;
      border-radius: 4px;
      cursor: pointer;
      outline: none;
      background-color: #111010;
    }
    
  .select-container::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #333;
    pointer-events: none;
  }
  
