.create-hub-type-inputs {
  /* margin-top: 2em; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.attached-hub-image-container {
  position: relative;
}

.attached-hub-image {
  border-radius: 15px;
  border: none;
  margin: 2em;
}

.hub-image-button {
  align-self: flex-start;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 10px;
  background-color: black;
}
